*{
    margin: 0;
    padding: 0;
}
.flex{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #FFD1DA;
}
.categories{
    display: flex;
    align-items: center;
}
.brand{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #FFD1DA;
}
.rosa{
    color: #FFD1DA;
}
.margin{
    margin-left: 1em;
}
.resize{
    height: 150px;
}
.logo{
    font-size: xx-large;
}